@font-face {
    font-family: Bauer;
    src: url(../fonts/Bauer/03922_BAUBODN.ttf);
}
@font-face {
    font-family: Bauer;
    src: url(../fonts/Bauer/03938_BauerBBd.ttf);
    font-weight: bold;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaRegular.otf);
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/GothamBook.ttf);
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/Gotham-Bold.otf);
    font-weight: bold;
}

/* background colors */
.bg-footer {
    background-color: #caac7b;
}
.bg-navbar-mobile {
    background-color: #bb9164;
}

/* font settings */
.font-bauer {
    font-family: "Bauer";
}

.font-proxima-nova {
    font-family: "ProximaNova";
}

.font-gotham {
    font-family: "Gotham";
}

.font-weight-bold {
    font-weight: 800 !important;
}

/* text settings */
.text-argavell {
    color: #8a5b32;
}
.text-argavell:hover {
    color: #8a5b32;
}
.text-kleanse {
    color: #4ac8e2;
}
.text-kleanse:hover {
    color: #4ac8e2;
}
.text-kleanse-dark {
    color: #177dbf;
}
.text-kleanse-dark:hover {
    color: #177dbf;
}

.text-decoration-none {
    text-decoration: none;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}
.text-8xl {
    font-size: 6rem;
    line-height: 1;
}
.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

/* button settings */
.btn-argavell {
    background-color: #8a5b32;
    color: #fff;
    border-radius: 50px;
}

.btn-argavell-light {
    background-color: #bb9164;
    color: #fff;
    border-radius: 50px;
}

.btn-kleanse {
    background-color: #4ac8e2;
    color: #fff;
    border-radius: 50px;
}
/* other */

.cursor-pointer {
    cursor: pointer;
}

/* custom */
/* set background for auth pages */
.auth-background {
    background-image: url(../images/auth-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}
/* landing page mid showcase */
.landing-showcase-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* landing page product show case */
.landing-product {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 50vh;
}

.landing-product .sale-alert {
    border-bottom-right-radius: 0.75rem;
    color: #fff;
}

/* mobile landing page */

.horizontal-scrollable > .row {
    overflow-x: scroll;
}
