@font-face {
    font-family: Bauer;
    src: url(../fonts/Bauer/03922_BAUBODN.ttf);
}
@font-face {
    font-family: Bauer;
    src: url(../fonts/Bauer/03938_BauerBBd.ttf);
    font-weight: bold;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaRegular.otf);
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/GothamBook.ttf);
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/Gotham-Bold.otf);
    font-weight: bold;
}

.font-bauer {
    font-family: "Bauer";
}

.font-proxima-nova {
    font-family: "ProximaNova";
}

.font-gotham {
    font-family: "Gotham";
}

.font-weight-bold {
    font-weight: 800;
}

.text-argavell {
    color: #8a5b32;
}

.btn-argavell {
    background-color: #8a5b32;
    color: #fff;
    border-radius: 50px;
}

.text-decoration-none{
    text-decoration: none;
}

.auth-background {
    background-image: url(../images/auth-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}
